<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title class="guild-name">Undertale Enhanced</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/js/jquery.blockUI.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- lodash -->
    <script src="/plugins/lodash/js/lodash.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>
    <!-- Mousewheel -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffy/js/taffy.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>
    <!--EventEmitter-->
    <script src="/plugins/eventemitter/js/EventEmitter.min.js"></script>

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css">
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css">
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!--Main-->
    <script src="/plugins/navigation/js/navigation.js"></script>
    <script src="/js/main.js?t=202005250205"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" title="Display / Hide Side Menu"><i
                            class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-danger elevation-4">
            <!-- Brand Logo -->
            <a href="https://undertaleenhanced.club" class="brand-link">
                <img src="none.jpg" alt="UE" class="brand-image img-circle bg-white elevation-3 guild-logo"
                    style="opacity: .8">
                <span class="brand-text font-weight-light guild-name">Undertale Enhanced</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-header text-light">ABOUT US</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-home" title="Home Page; learn about the Discord guild">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-lore" title="The current premises for our RP guild">
                                <i class="nav-icon fas fa-scroll"></i>
                                <p>
                                    Current Lore
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-members" title="Learn about the members and staff">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Meet the Members
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-events"
                                title="Routine events hosted in the Discord guild">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Events
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-rules" title="Learn about our Discord rules">
                                <i class="nav-icon fas fa-exclamation-triangle"></i>
                                <p>
                                    Guild Rules
                                </p>
                            </a>
                        </li>

                        <li class="nav-header text-light">UNCLAIMED OG CHARACTERS</li>
                        <div id="nav-og-unclaimed"></div>

                        <li class="nav-header text-light">CLAIMED OG CHARACTERS</li>
                        <div id="nav-og-claimed"></div>

                        <li class="nav-header text-light">OC CHARACTERS</li>
                        <div id="nav-oc"></div>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <section id="section-home">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark guild-name">Undertale Enhanced</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <div class="content">
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-danger">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="widget-user-image">
                                        <img class="img-circle elevation-2 guild-logo" src="none.jpg"
                                            alt="Guild Avatar">
                                    </div>
                                    <!-- /.widget-user-image -->
                                    <h3 class="widget-user-username guild-name">Undertale Enhanced</h3>
                                    <h5 class="widget-user-desc">A Discord Undertale RP Guild</h5>
                                </div>
                                <div class="col-12 col-md-4">
                                    <a type="button" href="https://discord.gg/FVj9yfv" class="btn btn-block bg-purple btn-lg">Join Discord</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="small-box bg-success" title="Number of members currently in our guild">
                                <div class="inner">
                                    <h3 class="guild-nummembers">???</h3>

                                    <p>Guild Members</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="small-box bg-primary" title="Number of bots in our guild">
                                <div class="inner">
                                    <h3 class="guild-numbots">???</h3>

                                    <p>Bots</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-robot"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="small-box bg-danger"
                                title="Number of claimed characters currently in the role play">
                                <div class="inner">
                                    <h3 class="guild-claimedcharacters">???</h3>

                                    <p>Claimed Characters</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="small-box bg-warning"
                                title="Number of unclaimed OG characters that may be claimed for use in the role play (This excludes original monsters, which can be made).">
                                <div class="inner">
                                    <h3 class="guild-unclaimedcharacters">???</h3>

                                    <p>Unclaimed Characters</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user-slash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary elevation-2">
                        <div class="card-header">
                            <h3 class="card-title">Features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Staying Close to the Canon</strong>
                                </div>
                                <div class="col-sm-8">
                                    Although we allow OC characters, we do not allow AU (alternate universe) versions of
                                    OG (canon) characters. Our guild stays as close to the canon as possible (while
                                    allowing for some variety).
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Text Channels for Every Space</strong>
                                </div>
                                <div class="col-sm-8">
                                    Our guild is structured in such a way each spot of Undertale is its own text
                                    channel. That way, conversations and actions taking place in one part of Undertale
                                    do not interfere with conversations/actions taking place in another.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Undernet Simulation</strong>
                                </div>
                                <div class="col-sm-8">
                                    We simulate the Undernet in our Role Play environment. Make undernet "posts" for
                                    everyone, or only specific characters, to see. Or, place phone calls or send text
                                    messages to specific characters.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Open Mechanics</strong>
                                </div>
                                <div class="col-sm-8">
                                    Apart from a few basic rules, the mechanics of each RP session (such as dice rolling
                                    and turns) can be agreed on by the players involved. There is no set-in-stone global
                                    mechanic that everyone is required to follow.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Role Play Lock-Downs</strong>
                                </div>
                                <div class="col-sm-8">
                                    When a character is involved in a role play session, they are locked out of all
                                    other sessions. This prevents story and lore conflicts.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Side Role-Plays</strong>
                                </div>
                                <div class="col-sm-8">
                                    Despite the lock-downs, we do have a few channels for side role plays to take place
                                    which are not affected by the lock-down. These RPs do not contribute to the main RP
                                    story.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Casual Channels</strong>
                                </div>
                                <div class="col-sm-8">
                                    Aside from role playing, you can engage in general converation with other members in
                                    the guild, both in character or out of character.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Guild Events</strong>
                                </div>
                                <div class="col-sm-8">
                                    Our guild hosts regular events to keep the community engaged. For most events, you
                                    may choose to be in character or out of character.
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>

            </div>
        </section>

        <section id="section-lore">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Current Lore</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <div class="content">
                    <div class="card elevation-2">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Frisk</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Frisk went through with their normal pacifist route, all the way up until after
                                        the Mettaton fight, where Alphys told them the truth about escaping the
                                        Underground. Frisk, hearing that they had to kill the king of the underground,
                                        was overwhelmed. They decided to retreat, to hide away, protecting themselves
                                        from the possibility of being a murderer. Alphys took them to Sans and Papyrus'
                                        house upon request of Frisk. Sans and Papyrus gladly took up this
                                        responsibility, letting them crash on the couch.</p>
                                    <p>Mettaton caught Frisk hiding in the cupboards of Sans and Papyrus' house one
                                        time, thereby making Mettaton aware of where they were.</p>
                                    <p>Being defeated by boredom, Frisk made the decision of leaving the safe house.
                                        They made a disguise, and went on their way to Grillby's, in search of food.
                                        Sadly, Undyne and Red saw right through the costume, and attacked.</p>
                                    <p>Currently, the only monsters who know of Frisk's whereabouts are Papyrus, Sans,
                                        Mettaton, and Alphys.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Alphys</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Alphys, being one of the main monsters to aid Frisk on their journey, now has a
                                        big secret to keep. There is a human roaming the underground, hiding away. Since
                                        Frisk avoided the king, they also missed out on the secret lab. Meaning, Alphys
                                        is still stuck with this burden of a secret to herself. Frisk also being the one
                                        to allow Undyne to deliver her love note to Alphys, is hidden, Undyne never
                                        confesses.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Asgore</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Asgore was informed a human would arrive soon. Since Frisk turned away from
                                        killing the king, Asgore never found a human to kill. He became confused and
                                        started questioning the underground. Asgore, currently, is searching for the
                                        human. Not much has changed with him.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Undyne</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Since Frisk left, Undyne has noticed Alphys keeping things from her. She's been
                                        slightly more distant, avoiding her almost. Undyne knows something is up, but
                                        doesn't assume the worst. She also ends up not being able to deliver her love
                                        letter to Alphys, due to Frisk disappearing.</p>
                                    <p>Due to the fact Frisk is being kept in hiding at the skeleton's house, Undyne
                                        being at that house could cause conflict. Luckily before Papyrus or Sans had to
                                        come up with reason to kick her out, she decided staying with Asgore until her
                                        house was back to normal would be a good idea. Undyne saw that Asgore was
                                        lonely, so she thought a bit of company would do him some good. Frisk is safe,
                                        and Undyne is still in the unknown.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Sans</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Sans, is mostly unaffected by this. Keeping secrets has never really been a
                                        problem for him, and no one was really interrogating him anyways. All he does is
                                        help frisk around the house, and that's about it.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Papyrus</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Papyrus isn't very good at lying, but for the sake of the human, he tries his
                                        best. While no one has really asked about the human so far, he still gets
                                        nervous in normal conversations. He does most of the taking care part of Frisk.
                                        He cooks, brings extra items home from shopping sprees, and makes sure he keeps
                                        them entertained.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Toriel</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Since true pacifist was never completed, Toriel never came out of the ruins
                                        looking for Frisk. Instead, she stayed waiting for another child to fall,
                                        watching over the ruins.</p>
                                    <p>Toriel has recently been killed, after finding a lonely human in the ruins. The
                                        human was inhabited by chara, and thus ending up in her demise.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Flowey / Asriel</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Since frisk avoided Asgore, Flowey never ended up killing asgore, thus Flowey
                                        Omega never arrived. This also made it so Asriel was never revealed. Flowey, is
                                        still the soulless monster he was.</p>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-2">
                                    <strong>Chara</strong>
                                </div>
                                <div class="col-sm-10">
                                    <p>Chara has arrived, and found a subject to force her thoughts into. She has found
                                        an unsuspecting human and is currently filling their head with hate, making them
                                        a cold blooded killer, with no intention to stop. It seems like the beginning of
                                        something absolutely horrible for the underground as we know it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>

        <section id="section-members">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Meet the Members</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <div class="content content-members">
                </div>
            </div>
        </section>

        <section id="section-rules">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Guild Rules</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <div class="content">
                    <div class="card elevation-2">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>No Alternate Universe characters</strong>
                                </div>
                                <div class="col-sm-8">
                                    We are a server that is trying its best to stay to the story and nature of
                                    Undertale, such, we will not be allowing any AU characters.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Roleplay Locks</strong>
                                </div>
                                <div class="col-sm-8">
                                    If a character is in one roleplay, they will be roleplay locked there until the
                                    roleplay is over. A character cannot be doing two roleplays at once.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>OCs must make sense in Undertale</strong>
                                </div>
                                <div class="col-sm-8">
                                    If an OC is created, please try to make them an Undertale oc. The characters of
                                    undertale are all in the same underground, with similar situations, so non of them
                                    have souls filled with hate or the desire to kill the entire underground.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Character Limits</strong>
                                </div>
                                <div class="col-sm-8">
                                    You are allowed 2 main characters, 2 backround characters, and 1 oc.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>SFW Guild</strong>
                                </div>
                                <div class="col-sm-8">
                                    This is a SFW server. Please keep this in mind.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Global Limit to Human OCs</strong>
                                </div>
                                <div class="col-sm-8">
                                    We will only be accepting 3 human OC's in total. Please keep this in mind when
                                    creating your OC.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>No Skeleton OCs</strong>
                                </div>
                                <div class="col-sm-8">
                                    We will not be allowing any skeleton OCs.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>No Discrimination</strong>
                                </div>
                                <div class="col-sm-8">
                                    We will NOT be tolerating discrimination of ANY kind. Please keep this in mind.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>No Slurs; Use Swearing Sparingly</strong>
                                </div>
                                <div class="col-sm-8">
                                    Swearing is allowed as long as it's not excessive. Slurs are not allowed in any way.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Respect Everyone</strong>
                                </div>
                                <div class="col-sm-8">
                                    Be a good monster, respect others, and be knowledgeable that you are the main
                                    character of your story, but not theirs.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Battles Utilize Dice Rolls</strong>
                                </div>
                                <div class="col-sm-8">
                                    All battles will be determined by a dice roll, unless all participants of the battle
                                    disagree with this.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Dice Rolls are Discussed Prior</strong>
                                </div>
                                <div class="col-sm-8">
                                    Dice rolls will be different for every monster, depending on stats. More on this
                                    will be covered in #dice-chat.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Humans Must use Undertale LVL Stats</strong>
                                </div>
                                <div class="col-sm-8">
                                    If you have a human oc, their stats must correlate to the LVLs in undertale.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>No Custom Souls</strong>
                                </div>
                                <div class="col-sm-8">
                                    There is a list of souls you msy choose from.
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-4">
                                    <strong>Have Fun</strong>
                                </div>
                                <div class="col-sm-8">
                                    Please, have fun! Make friends, and enjoy yourself.
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>

        <div id="sections-characters">

        </div>

    </div>

    <%- body %>
</body>

</html>